@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
Feature200
<h1 class="display-4">Welcome branch Feature200</h1>
<h1 class="display-4">Jai kara veer Bajranji</h1>
main
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
